// Define variables for your color scheme
$green-genius: #7DAA92;

// For example:
$red: #B9314F;
$blue: #0F7173;
$yellow: #FFD23F;
$orange: #FF9B71;
$green: #1EDD88;
$black: #242322;
$light-gray: #948F8A;
