h1, h2, h3, h4 {
  font-family: Platelet OT, Helvetica;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
}

h3 {

  font-size: 16px;
  line-height: 16px;
}

p {
  font-family: Roboto, Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

a {
  color: #0F7173;
  text-decoration: none;
}
