h1, h2, h3, h4 {
  font-family: 'mrs-eaves-roman-all-small-ca', serif;
  font-style: normal;
  margin: 0;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  box-sizing: content-box;
  margin: 20px 0;
  font-size: 36px;
  line-height: 36px;
}

h3 {
  font-family: 'mrs-eaves', serif;
  font-size: 20px;
  line-height: 22px;
}

p {
  font-family: Roboto, Helvetica;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

a {
  color: #0F7173;
  text-decoration: none;
  margin: 0;
}
