.product-container {
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.actions, .sub-actions {
  width: 100%;
  height: 30px;
  margin: 10px;
  text-align: center;
}

.sub-actions a {
  text-decoration: underline;
}
