<div class="navbar">
  <%= link_to '/', class: "navbar-brand" do %>
    <h1>Petit Génie</h1>
  <% end %>

  <div class="nav-menu">
    <div class="nav-icon">
      <%= image_tag "gift.svg", alt: "mes listes", class: "icon" %>
      <p class="txt-menu">mes listes</p>
    </div>

    <div class="nav-icon">
      <%= image_tag "user.svg", alt: "mon compte", class: "icon" %>
      <p class="txt-menu">mon compte</p>
    </div>
  </div>

</div>
