<div class="hero">
  <h1>Créez votre liste de naissance</h1>
  <p>Pour créer votre liste de naissance c'est très facile... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
  <button class="btn-primary">créer une liste</button>
</div>
