.navbar {
  width: 100%;
  height: 80px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: yellow;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-menu {
  width: 120px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: red;
}

.nav-menu .nav-icon {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: blue;
}

.txt-menu {
 font-size: 14px;
 color: lightgrey;
}
