.navbar {
  width: 100%;
  height: 60px;
  padding: 0 15px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $green-genius;
}

.navbar h1 {
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu a {
  text-align: center;
  text-decoration: none;
}

.nav-menu .nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.nav-menu .nav-icon .icon {
  width: 25px;
  margin: 0;
}

.nav-menu p {
 font-size: 14px;
 line-height: 16px;
 color: white;
}
