.navbar {
  width: 100%;
  height: 80px;
  padding: 0 15px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.navbar h1 {
  font-size: 22px;
  color: white;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar .navbar-brand img {
  width: 40px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-menu .nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  color: white;
}

.nav-menu .nav-icon .icon {
  width: 25px;
  fill: white;
}

.txt-menu {
 font-size: 14px;
 color: white;
}
