// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/texts";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Reset default button style */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}
