<div class="container">
      <h2>Ajouter une catégorie</h2>

  <div class="form-container">
      <%= simple_form_for @category do |f| %>
        <%= f.input :name, label: "Nom de la catégorie" %>

      <div class="form-actions">
        <%= f.button :submit, "Créer", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
 </div>
